.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

// @media (max-width: 500px)

@media (max-width: 900px) {
	.container {
		align-items: start;
	}
	.grid {
		max-width: 550px;
		padding: 14px;
	}
}
