@use '@/assets/colors' as *;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	border-radius: 9999px;
	border: solid 1px $light-gray;
	text-transform: none;
	color: $dark-gray;
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;

	&:hover {
		border: solid 1px $light-gray;
		background-color: rgba($dark-gray, 0.06);
	}
}
