@use '@/assets/colors' as *;

.modal-backdrop {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($gray, 0.5);
}

.x-logo {
	position: absolute;
	top: 28px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-button {
	width: fit-content;
	padding: 16px;
}

:export {
	black: $black;
	dark-gray: $dark-gray;
	gray: $gray;
	light-gray: $light-gray;
	white: $white;
}
