@use '@/assets/colors' as *;

// @media (prefers-color-scheme: dark) {
// 	.input {
// 		& fieldset {
// 			border-color: $gray;
// 		}

// 		&:hover fieldset:not(:focus) {
// 			border-color: $gray;
// 		}

// 		& label {
// 			color: $gray;
// 		}

// 		& input {
// 			color: $white;
// 		}
// 	}
// }

@media (prefers-color-scheme: dark) {
	.input {
		& fieldset {
			border-color: $gray;

			&:hover {
				border-color: $primary;
			}
		}

		&:hover fieldset:not(:focus-within) {
			border-color: $gray;
		}

		& label {
			color: $gray;
		}

		& input {
			color: $white;
		}
	}
}

:export {
	gray: $gray;
}
