@use '@/assets/colors' as *;

:root {
	color-scheme: light dark;
	color: $white;
	background-color: $black;
	fill: $white;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.modal {
	background-color: $black;
	color: $white;
	& svg {
		fill: $white;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: $black;
		background-color: $white;
		fill: $black;
	}

	.modal {
		background-color: $white;
		color: $black;

		& svg {
			fill: $black;
		}
	}
}
